<section class="quienes-somos">
    <div class="intro">
        <h3>{{aboutIntro.title}}</h3>

        {{#each aboutIntro.paragraphs}}
            <p>{{this}}</p>
        {{/each}}
    </div>

    <div class="mision-vision">
        {{#each missionVision}}
            <div class="card">
                <h3>{{title}}</h3>
                <p>{{text}}</p>
            </div>
        {{/each}}
    </div>

    <section class="valores">
        <h3>{{valuesTitle}}</h3>

        <div class="valores-grid">
            {{#each values}}
                <div class="valor">
                    <h4>{{title}}</h4>
                    <p>{{text}}</p>
                </div>
            {{/each}}
        </div>
    </section>

    <section class="equipo">
        <h3>{{teamTitle}}</h3>
        <p>
            {{teamIntro}}
        </p>

        <div class="equipo-grid">
            {{#each teamMembers}}
                <div class="miembro">
                    <img src="{{src}}" alt="{{alt}}">
                    <h4>{{name}}</h4>
                    <span>{{role}}</span>
                </div>
            {{/each}}

        </div>
    </section>

    <section class="filosofia">
        <h3>{{philosophyTitle}}</h3>
        <p>
            {{philosophyText}}
        </p>
    </section>
</section>