<section class="grid-proyectos" id="proyectos">
    {{#each projects}}
        <div class="proyecto" data-tipo="{{type}}" data-ano="{{year}}" data-servicio="{{service}}">
            <h3>{{title}}</h3>
            <p>Ubicación: {{location}}</p>
            <p>Año: {{year}}</p>
            <div class="galeria">
                {{#each images}}
                    <img src="{{src}}" alt="{{alt}}">
                {{/each}}
            </div>
        </div>
    {{/each}}
</section>